#squares {
    width:500px;
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(9, 1fr);
    align-content: center;
    margin: auto;
    
}

#difficultyBtn {
    width:500px;
    margin: auto;
}

.square {
    width: 20px;
    height: 20px;
    background-color: silver;
    border: none;
    padding: 0; /* Set padding to 0 to ensure uniform size */
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 0;
}

body {
    background-color: darkslategray;
    margin: 0; /* Set margin to 0 to ensure no spacing around the body */
}